body {
  background-color: #F5F7FA;
  margin: 0 auto;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.block {
  margin: 10px 0 0 10px;
  padding: 0;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  float: left;
  clear: right;
  position: relative;
}

.block img {
  margin: 0 auto;
  padding: 0;
  position: absolute;
}
.icon {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 50;
}